$desaturated_dark_cyan:hsl(180, 29%, 50%); //primary
$light_grayish_cyan:hsl(180, 52%, 87%); //background
$light_grayish_cyan_tables:hsl(180, 31%, 90%); //filter tables
$dark_grayish_cyan:hsl(180, 8%, 52%);
$very_dark_grayish_cyan: hsl(180, 14%, 20%);
$desktopPadding:10rem; 